:root {
  --primary-color: #f59bf7;
  --secondary-color: #e2c7e4;
  --background-color: #111110;
  --dark-bg-color: rgba(0, 0, 0, 0.7);
  --light-bg-color: rgba(64, 64, 64, 0.8);
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 45px;
  --border-radius: 10px;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  --transition: 0.3s ease;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/imagenes-del-final.appspot.com/o/IMAGENES%20PRINCIPALES%2Fpatron.png?alt=media&token=ec9610ba-042c-4baf-bed1-bac8f9a8b277");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: #ffffff;
}

h1,
h2 {
  color: var(--secondary-color);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 0;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

nav button,
#categories button {
  background-color: var(--primary-color);
  color: white;
  border: solid 2px var(--primary-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition), box-shadow var(--transition);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

nav button:hover,
#categories button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.nav-buttons a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

#main-img,
.imagenprincipal {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: block;
  border-radius: var(--border-radius);
}

.imagenprincipal {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px #5e315f;
}

section {
  padding: 20px;
  border-bottom: 0.5px solid #ccc;
  background-color: var(--dark-bg-color);
  border-radius: 20px;
  margin-bottom: 20px;
}

.titulo {
  background-color: var(--dark-bg-color);
  padding: 20px;
  border-radius: 20px;
  font-size: 36px;
  margin: 20px 0;
  backdrop-filter: blur(10px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p,
.description-container p,
.product-card p {
  line-height: 1.6;
  font-size: var(--font-size-base);
  margin-bottom: 15px;
  color: #e0e0e0;
}

.letrarticulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  word-spacing: 2px;
  text-align: justify;
}

.description-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  background-color: var(--light-bg-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.description-container h1 {
  font-size: var(--font-size-xlarge);
  color: var(--primary-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.description-container h2 {
  font-size: 28px;
  color: #ffffff;
  margin: 20px 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.image-text-container {
  text-align: center;
}

#products,
#game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  padding: 20px;
}

.product-card,
.game-card {
  padding: 10px;
  background-color: var(--dark-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 10px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition), box-shadow var(--transition);
  cursor: pointer;
}

.product-card:hover,
.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.product-card img,
.game-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.product-card p,
.game-card h3 {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-color);
}

.game-card h3 {
  font-size: 18px;
}

.details p {
  font-size: 14px;
  color: #ccc;
}

.price-discount-box {
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

.price-discount-box p {
  margin: 5px 0;
}

.buy-button {
  background-color: #66b3ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.buy-button:hover {
  background-color: #a95fb0;
}

footer {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px 50px;
  margin-top: 20px;
  font-size: 14px;
}

footer address {
  font-style: italic;
}

footer a {
  font-size: 25px;
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #333;
}

.header-logo {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 25px;
  padding: 15px;
  margin-right: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  border-radius: var(--border-radius);
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.modal-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  transition: color var(--transition);
}

.close:hover {
  color: #fff;
}

.modal-content h3,
.modal-content p {
  color: #fff;
  margin: 10px 0;
}

.Ps5s,
.Nintendos,
.Xboxs {
  border: solid 5px rgb(94, 49, 95);
}

.todos-productos {
  text-align: center;
  margin-top: 20px;
}

.todos-productos a {
  font-size: 24px;
  color: var(--primary-color);
  text-decoration: none;
  border: solid 2px var(--primary-color);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  display: inline-block;
  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todos-productos a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header-logo {
    flex-direction: column;
    padding: 10px;
    margin-right: 0;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .product-card {
    padding: 5px;
  }

  .price-discount-box {
    padding: 5px;
  }

  .buy-button {
    padding: 8px 10px;
  }
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--dark-bg-color);
  border-radius: 15px;
  width: 90%;
  max-width: 1000px;
  box-shadow: var(--box-shadow);
}

.map-container iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
  border: 3px solid #5e315f;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
